*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans', cursive;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/* Header */

header {
    width: 100%;
    height: 600px;
    background-image: url(imagenesRestaurante/10295572_4281021.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: right;
    background-color: #fff;
}

nav > a{
    display: inline;
    color: #888181;
    font-weight: 300;
    text-decoration: none;
    margin: 10px 50px 10px 80px;
}
nav > a:hover{
    text-shadow: 0 0 10px #888181;
}

.menus{
    display:inline-block;
    margin-right: 1150px;
  }

.menu1 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0px;
  }

  .menu2 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  .menu3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: #fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
}

.wave{
   position: absolute;
   bottom: 0; 
   width: 100%;
   
}

.about-services{
    background: #fff;
    padding-bottom: 30px;
}

.servicio-cont{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.servicio-ind{
    width: 100%;
    text-align: center;
}

.servicio-ind img{
    width: 100%;
    padding: 10px;
}

.servicio-ind h3{
    text-align: justify;
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foot{
    text-align: center;
}

.content-foot h4{
    color: #fff;
    border-bottom: 3px solid hsl(317, 45%, 52%, 0.7);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foot p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 14px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    .imagen-port{
        width: 44%;
    }

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards .card{
        width: 90%;
    }
    .cards .card:first-child{   
    margin-bottom: 30px;
    }

    .card > .contenido-texto-card{
        width: 50%;
    }


    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }
    
    .servicio-ind:nth-child(1){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }

}

@media  screen and (max-width:500px) {
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }
    
    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    .imagen-about-us {
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    .imagen-port{
        width: 95%;
    }

    .clientes-contenedor{
        width: 90%;
        align-items: center;
    }

    .cards {
        width: 100%;
    }

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }
    .contenedor-footer{
        flex-direction: column;
        border:none;
    }
    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }
    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color:#ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
       font-size: 15px;
    }

    .decoration-none {
        text-decoration: none;
    }
}